<div class="splash-section">
  <div class="login-bar" style="position: relative;">
    <%= link_to :back do %>
      <i class="fa-solid fa-arrow-left", style="font-size: 1.6em;"></i>
    <% end %>
    <h2 class="login-title">Forgot your password?</h2>
  </div>
  
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
  
    <div class="field">
      <%= f.email_field :email, placeholder: 'Email', autofocus: true, required: true, autocomplete: "email", class: 'inputs' %>
    </div>
  
    <div class="actions">
      <%= f.submit "Send me reset password instructions", id: 'reset-password-submit' %>
    </div>
  <% end %>
</div>
