<div class="splash-section">
  <div class="login-bar" style="position: relative; gap: 15%;">
    <%= link_to group_purchases_path(@group) do %>
      <i class="fa-solid fa-arrow-left", style="font-size: 1.6em;"></i>
    <% end %>
    <h2 class="login-title">TRANSACTION</h2>
  </div>

  <%= form_with(model: @purchase, url: group_purchases_path(@group), html: { class: 'categories-form', style: 'gap: 20px;' }) do |f| %>
    <div class="field">
      <%= f.text_field :name, placeholder: 'Name', autofocus: true, required: true, class: 'inputs' %>
    </div>

    <div class="field">
    	<%= f.label :amount %>
    	<%= f.number_field :amount, min: 0.01, step: 0.01, required: true, class: 'inputs' %>
    </div>

    <div class="field">
    	<%= f.label 'Category' %>
    	<%= f.collection_select(:group, @groups, :id, :name, {required: true}, {class: 'inputs'}) %>
    </div>

    <div class="actions">
      <%= f.submit "ADD", class: "submit" %>
    </div>
  <% end %>
</div>
